@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    font-style: italic;
    src: url('../fonts/IBM_Plex_Mono/IBMPlexMono-BoldItalic.woff2') format('woff2');
}

@keyframes box-shadow-pulse {

    0%,
    100% {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #5200ff;
    }

    50% {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #3900b3;
    }
}

@keyframes box-shadow-pulse-hover {

    0%,
    100% {
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #002eff;
    }

    50% {
        box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem #00aeff;
    }
}

* {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
}

body {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    background: #000e;
}

form {
    margin-bottom: 10%;
}

button,
input[type="text"],
input[type="submit"] {
    animation: box-shadow-pulse 10s ease-in-out infinite;
    box-sizing: border-box;
    border-width: 0;
    border-radius: 8px;
    resize: none;
}

button:hover,
input:hover,
button:active,
input:active,
input:focus {
    animation: box-shadow-pulse-hover 10s ease-in-out infinite;
    outline-width: 0;
}

label {
    font-weight: bold;
    color: white;
    min-width: 100px;
    margin-right: 10px;
}

button,
input[type="submit"] {
    width: 200px;
    height: 50px;
    font-size: 12pt;
    background-color: #000;
}

input[type="submit"] {
    margin-top: 20px;
}

.input {
    margin-bottom: 24px;
}

span {
    width: 90vw;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input[type="text"] {
    background-color: #000;
    flex-grow: 1;
    padding: 5px;
    font-size: 16px;
}